body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1820px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:400px;
  height:780px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:780px;
}
#u1 {
  position:absolute;
  left:2px;
  top:382px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:50px;
  width:400px;
  height:60px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:51px;
  top:60px;
  width:42px;
  height:42px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u5 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:168px;
  top:73px;
  width:163px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:72px;
  top:130px;
  width:78px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:72px;
  top:176px;
  width:98px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:72px;
  top:146px;
  width:358px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:341px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:358px;
  height:1px;
}
#u13 {
  position:absolute;
  left:410px;
  top:120px;
  width:36px;
  height:36px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.5;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:186px;
  top:176px;
  width:154px;
  height:16px;
  color:#999999;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:180px;
  top:130px;
  width:140px;
  height:16px;
  text-align:right;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:72px;
  top:192px;
  width:358px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:341px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:358px;
  height:1px;
}
#u20 {
  position:absolute;
  left:162px;
  top:270px;
  width:177px;
  height:30px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:173px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:540px;
  top:50px;
  width:400px;
  height:780px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:780px;
}
#u23 {
  position:absolute;
  left:2px;
  top:382px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:540px;
  top:50px;
  width:400px;
  height:60px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
}
#u25 {
  position:absolute;
  left:2px;
  top:22px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:541px;
  top:60px;
  width:42px;
  height:42px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u27 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:658px;
  top:73px;
  width:163px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:562px;
  top:130px;
  width:78px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:562px;
  top:176px;
  width:98px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:562px;
  top:146px;
  width:358px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:341px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:358px;
  height:1px;
}
#u35 {
  position:absolute;
  left:900px;
  top:120px;
  width:36px;
  height:36px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.5;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u36 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:676px;
  top:176px;
  width:154px;
  height:16px;
  color:#999999;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:676px;
  top:130px;
  width:140px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:562px;
  top:192px;
  width:358px;
  height:10px;
}
#u41_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:341px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:5px;
  width:358px;
  height:1px;
}
#u42 {
  position:absolute;
  left:652px;
  top:270px;
  width:177px;
  height:30px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:173px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:710px;
  top:409px;
  width:62px;
  height:62px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
}
#u45 {
  position:absolute;
  left:2px;
  top:23px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:1030px;
  top:50px;
  width:400px;
  height:780px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:780px;
}
#u47 {
  position:absolute;
  left:2px;
  top:382px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:1030px;
  top:50px;
  width:400px;
  height:60px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
}
#u49 {
  position:absolute;
  left:2px;
  top:22px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:1031px;
  top:60px;
  width:42px;
  height:42px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u51 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:1168px;
  top:73px;
  width:124px;
  height:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:1142px;
  top:270px;
  width:177px;
  height:30px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u55 {
  position:absolute;
  left:2px;
  top:7px;
  width:173px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:1068px;
  top:127px;
  width:339px;
  height:33px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:33px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:1068px;
  top:181px;
  width:202px;
  height:21px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u59 {
  position:absolute;
  left:1290px;
  top:181px;
  width:102px;
  height:21px;
  color:#FFFFFF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:21px;
}
#u60 {
  position:absolute;
  left:2px;
  top:2px;
  width:98px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:1194px;
  top:143px;
  width:45px;
  height:15px;
  font-size:12px;
  color:#3399FF;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:15px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:192px;
  top:300px;
  width:182px;
  height:33px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:33px;
}
#u64 {
  position:absolute;
  left:2px;
  top:8px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:196px;
  top:314px;
  width:176px;
  height:16px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:1180px;
  top:300px;
  width:182px;
  height:33px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:33px;
}
#u68 {
  position:absolute;
  left:2px;
  top:8px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:1184px;
  top:314px;
  width:176px;
  height:16px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:51px;
  top:894px;
  width:400px;
  height:780px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:780px;
}
#u72 {
  position:absolute;
  left:2px;
  top:382px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:51px;
  top:894px;
  width:400px;
  height:60px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
}
#u74 {
  position:absolute;
  left:2px;
  top:22px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:52px;
  top:904px;
  width:42px;
  height:42px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u76 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:170px;
  top:917px;
  width:163px;
  height:16px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:73px;
  top:974px;
  width:78px;
  height:16px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:73px;
  top:1020px;
  width:98px;
  height:16px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:73px;
  top:990px;
  width:358px;
  height:10px;
}
#u83_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u83_end {
  position:absolute;
  left:341px;
  top:-5px;
  width:18px;
  height:20px;
}
#u83_line {
  position:absolute;
  left:0px;
  top:5px;
  width:358px;
  height:1px;
}
#u84 {
  position:absolute;
  left:411px;
  top:964px;
  width:36px;
  height:36px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.5;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u85 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:187px;
  top:1020px;
  width:154px;
  height:16px;
  color:#999999;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:181px;
  top:974px;
  width:139px;
  height:16px;
  text-align:right;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:73px;
  top:1036px;
  width:358px;
  height:10px;
}
#u90_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u90_end {
  position:absolute;
  left:341px;
  top:-5px;
  width:18px;
  height:20px;
}
#u90_line {
  position:absolute;
  left:0px;
  top:5px;
  width:358px;
  height:1px;
}
#u91 {
  position:absolute;
  left:163px;
  top:1114px;
  width:177px;
  height:30px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u92 {
  position:absolute;
  left:2px;
  top:7px;
  width:173px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:193px;
  top:1144px;
  width:182px;
  height:33px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:33px;
}
#u94 {
  position:absolute;
  left:2px;
  top:8px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:197px;
  top:1158px;
  width:176px;
  height:16px;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:73px;
  top:1055px;
  width:195px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:15px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:470px;
  top:1043px;
  width:150px;
  height:92px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:92px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:676px;
  top:894px;
  width:400px;
  height:780px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:780px;
}
#u102 {
  position:absolute;
  left:2px;
  top:382px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:676px;
  top:894px;
  width:400px;
  height:60px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
}
#u104 {
  position:absolute;
  left:2px;
  top:22px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:677px;
  top:904px;
  width:42px;
  height:42px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u106 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:814px;
  top:917px;
  width:124px;
  height:16px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:16px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:788px;
  top:1114px;
  width:177px;
  height:30px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u110 {
  position:absolute;
  left:2px;
  top:7px;
  width:173px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:714px;
  top:971px;
  width:339px;
  height:33px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:33px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:714px;
  top:1025px;
  width:202px;
  height:21px;
}
#u113_input {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u114 {
  position:absolute;
  left:936px;
  top:1025px;
  width:102px;
  height:21px;
  color:#FFFFFF;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:21px;
}
#u115 {
  position:absolute;
  left:2px;
  top:2px;
  width:98px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:840px;
  top:987px;
  width:45px;
  height:15px;
  font-size:12px;
  color:#3399FF;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:15px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:826px;
  top:1144px;
  width:182px;
  height:33px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:33px;
}
#u119 {
  position:absolute;
  left:2px;
  top:8px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:830px;
  top:1158px;
  width:176px;
  height:16px;
  text-align:center;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:16px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:714px;
  top:1059px;
  width:332px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:15px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:1110px;
  top:1043px;
  width:250px;
  height:138px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:138px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:1420px;
  top:920px;
  width:400px;
  height:780px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:780px;
}
#u127 {
  position:absolute;
  left:2px;
  top:382px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:1420px;
  top:920px;
  width:400px;
  height:60px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
}
#u129 {
  position:absolute;
  left:2px;
  top:22px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:1421px;
  top:930px;
  width:42px;
  height:42px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u131 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:1558px;
  top:943px;
  width:124px;
  height:16px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:16px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:1461px;
  top:1024px;
  width:318px;
  height:48px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:48px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:1421px;
  top:894px;
  width:300px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:1402px;
  top:175px;
  width:323px;
  height:33px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:33px;
}
#u139 {
  position:absolute;
  left:2px;
  top:8px;
  width:319px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:1490px;
  top:277px;
  width:170px;
  height:16px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:1310px;
  top:280px;
  width:170px;
  height:10px;
}
#u142_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u142_end {
  position:absolute;
  left:153px;
  top:-5px;
  width:18px;
  height:20px;
}
#u142_line {
  position:absolute;
  left:0px;
  top:5px;
  width:170px;
  height:1px;
}
#u143 {
  position:absolute;
  left:440px;
  top:114px;
  width:177px;
  height:42px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:42px;
}
#u144 {
  position:absolute;
  left:2px;
  top:5px;
  width:173px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:423px;
  top:400px;
  width:160px;
  height:40px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u146 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:916px;
  top:400px;
  width:160px;
  height:40px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u148 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:50px;
  top:24px;
  width:62px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u151 {
  position:absolute;
  left:540px;
  top:24px;
  width:58px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u153 {
  position:absolute;
  left:1028px;
  top:24px;
  width:62px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u155 {
  position:absolute;
  left:51px;
  top:868px;
  width:114px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u157 {
  position:absolute;
  left:677px;
  top:868px;
  width:114px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u159 {
  position:absolute;
  left:1249px;
  top:146px;
  width:231px;
  height:10px;
}
#u159_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u159_end {
  position:absolute;
  left:214px;
  top:-5px;
  width:18px;
  height:20px;
}
#u159_line {
  position:absolute;
  left:0px;
  top:5px;
  width:231px;
  height:1px;
}
#u160 {
  position:absolute;
  left:1490px;
  top:143px;
  width:79px;
  height:16px;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
