body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2053px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:400px;
  height:780px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:780px;
}
#u1 {
  position:absolute;
  left:2px;
  top:382px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:200px;
  top:190px;
  width:100px;
  height:100px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u3 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:533px;
  top:93px;
  width:337px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:533px;
  top:55px;
  width:372px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:55px;
  top:55px;
  width:390px;
  height:65px;
}
#u8_img {
  position:absolute;
  left:-5px;
  top:0px;
  width:400px;
  height:75px;
}
#u9 {
  position:absolute;
  left:2px;
  top:24px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:69px;
  top:62px;
  width:50px;
  height:50px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:430px;
  top:93px;
  width:93px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:76px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:93px;
  height:1px;
}
#u13 {
  position:absolute;
  left:129px;
  top:66px;
  width:304px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:129px;
  top:90px;
  width:261px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:100px;
  top:336px;
  width:299px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:230px;
  top:300px;
  width:39px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:533px;
  top:119px;
  width:330px;
  height:158px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:158px;
}
#u22 {
  position:absolute;
  left:2px;
  top:71px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:555px;
  top:171px;
  width:293px;
  height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:727px;
  top:210px;
  width:100px;
  height:30px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:577px;
  top:210px;
  width:100px;
  height:30px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:838px;
  top:135px;
  width:15px;
  height:28px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:28px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:907px;
  top:216px;
  width:170px;
  height:32px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:32px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:807px;
  top:219px;
  width:90px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:73px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:90px;
  height:1px;
}
#u34 {
  position:absolute;
  left:1106px;
  top:168px;
  width:60px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u35 {
  position:absolute;
  left:1106px;
  top:173px;
  width:-26px;
  height:57px;
}
#u35_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:71px;
}
#u35_seg1 {
  position:absolute;
  left:-30px;
  top:47px;
  width:40px;
  height:20px;
}
#u36 {
  position:absolute;
  left:-50px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:1163px;
  top:267px;
  width:-57px;
  height:-32px;
}
#u37_seg0 {
  position:absolute;
  left:-67px;
  top:-10px;
  width:71px;
  height:20px;
}
#u37_seg1 {
  position:absolute;
  left:-67px;
  top:-36px;
  width:20px;
  height:46px;
}
#u38 {
  position:absolute;
  left:-94px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:1166px;
  top:165px;
  width:260px;
  height:32px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:32px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:1436px;
  top:78px;
  width:330px;
  height:170px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:170px;
}
#u42 {
  position:absolute;
  left:2px;
  top:77px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:1467px;
  top:125px;
  width:276px;
  height:32px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:32px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:1630px;
  top:190px;
  width:100px;
  height:30px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:1480px;
  top:190px;
  width:100px;
  height:30px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:1741px;
  top:94px;
  width:15px;
  height:28px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:28px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:1166px;
  top:261px;
  width:260px;
  height:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:1730px;
  top:200px;
  width:63px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:46px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:63px;
  height:1px;
}
#u54 {
  position:absolute;
  left:1793px;
  top:197px;
  width:260px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:913px;
  top:320px;
  width:210px;
  height:32px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:32px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:852px;
  top:362px;
  width:330px;
  height:153px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:153px;
}
#u59 {
  position:absolute;
  left:2px;
  top:68px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:884px;
  top:396px;
  width:266px;
  height:32px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:32px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:1042px;
  top:455px;
  width:100px;
  height:30px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u63 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:892px;
  top:455px;
  width:100px;
  height:30px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u65 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:1156px;
  top:371px;
  width:15px;
  height:28px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:28px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:1132px;
  top:475px;
  width:80px;
  height:10px;
}
#u68_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_end {
  position:absolute;
  left:63px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_line {
  position:absolute;
  left:0px;
  top:5px;
  width:80px;
  height:1px;
}
#u69 {
  position:absolute;
  left:1222px;
  top:472px;
  width:131px;
  height:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
