body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1150px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:400px;
  height:780px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:780px;
}
#u1 {
  position:absolute;
  left:2px;
  top:382px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:50px;
  width:400px;
  height:60px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:51px;
  top:60px;
  width:42px;
  height:42px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u5 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:200px;
  top:73px;
  width:99px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:73px;
  top:184px;
  width:154px;
  height:16px;
  color:#999999;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:72px;
  top:200px;
  width:358px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:341px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:358px;
  height:1px;
}
#u11 {
  position:absolute;
  left:162px;
  top:300px;
  width:177px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:173px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:73px;
  top:134px;
  width:354px;
  height:32px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:32px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:349px;
  top:313px;
  width:133px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:116px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:133px;
  height:1px;
}
#u16 {
  position:absolute;
  left:492px;
  top:353px;
  width:469px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:492px;
  top:379px;
  width:278px;
  height:113px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:113px;
}
#u19 {
  position:absolute;
  left:2px;
  top:48px;
  width:274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:520px;
  top:397px;
  width:240px;
  height:32px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:32px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:531px;
  top:442px;
  width:200px;
  height:30px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:492px;
  top:522px;
  width:450px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:857px;
  top:449px;
  width:293px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:741px;
  top:452px;
  width:102px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:85px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:102px;
  height:1px;
}
#u29 {
  position:absolute;
  left:73px;
  top:250px;
  width:358px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:341px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:358px;
  height:1px;
}
#u30 {
  position:absolute;
  left:73px;
  top:234px;
  width:154px;
  height:16px;
  color:#999999;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:492px;
  top:307px;
  width:205px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:492px;
  top:548px;
  width:338px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:357px;
  top:227px;
  width:71px;
  height:22px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
}
#u37 {
  position:absolute;
  left:2px;
  top:3px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:492px;
  top:574px;
  width:450px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  word-wrap:break-word;
}
