body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:100px;
  top:30px;
  width:400px;
  height:780px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:780px;
}
#u2 {
  position:absolute;
  left:2px;
  top:382px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:100px;
  top:30px;
  width:400px;
  height:70px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:70px;
}
#u4 {
  position:absolute;
  left:2px;
  top:27px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:130px;
  top:45px;
  width:40px;
  height:35px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:35px;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:188px;
  top:54px;
  width:27px;
  height:17px;
  font-size:15px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:17px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:212px;
  top:217px;
  width:171px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:192px;
  top:243px;
  width:217px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:264px;
  top:128px;
  width:72px;
  height:72px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u14 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
