body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1620px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:400px;
  height:780px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:780px;
}
#u1 {
  position:absolute;
  left:2px;
  top:382px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:51px;
  top:51px;
  width:398px;
  height:59px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:59px;
}
#u4 {
  position:absolute;
  left:2px;
  top:22px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:198px;
  top:72px;
  width:22px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:278px;
  top:72px;
  width:64px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:31px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:50px;
  top:595px;
  width:400px;
  height:235px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:235px;
}
#u10 {
  position:absolute;
  left:2px;
  top:110px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:158px;
  top:103px;
  width:101px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:84px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:4px;
  width:101px;
  height:3px;
}
#u12 {
  position:absolute;
  left:244px;
  top:103px;
  width:101px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:84px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:101px;
  height:1px;
}
#u13 {
  position:absolute;
  left:50px;
  top:187px;
  width:400px;
  height:400px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:400px;
}
#u14 {
  position:absolute;
  left:2px;
  top:192px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:212px;
  top:501px;
  width:93px;
  height:19px;
  font-size:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:19px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:80px;
  top:542px;
  width:157px;
  height:31px;
  color:#1E1E1E;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:31px;
}
#u18 {
  position:absolute;
  left:2px;
  top:8px;
  width:153px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:50px;
  top:586px;
  width:400px;
  height:10px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:10px;
}
#u20 {
  position:absolute;
  left:2px;
  top:-3px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:265px;
  top:542px;
  width:157px;
  height:31px;
  color:#1E1E1E;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:31px;
}
#u22 {
  position:absolute;
  left:2px;
  top:8px;
  width:153px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:194px;
  top:505px;
  width:12px;
  height:12px;
  color:#008000;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u24 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:50px;
  top:202px;
  width:80px;
  height:25px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u26 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:50px;
  top:610px;
  width:84px;
  height:25px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
}
#u28 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:50px;
  top:110px;
  width:400px;
  height:70px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:70px;
}
#u30 {
  position:absolute;
  left:2px;
  top:27px;
  width:396px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:313px;
  top:196px;
  width:34px;
  height:34px;
  opacity:0.9;
  color:#0099FF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u32 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:322px;
  top:206px;
  width:17px;
  height:17px;
  color:#333333;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u34 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:357px;
  top:196px;
  width:34px;
  height:34px;
  opacity:0.9;
  color:#66CC33;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u36 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:366px;
  top:206px;
  width:16px;
  height:16px;
  color:#333333;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u38 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:401px;
  top:198px;
  width:34px;
  height:34px;
  opacity:0.9;
  color:#66CC33;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u40 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:410px;
  top:206px;
  width:16px;
  height:16px;
  color:#333333;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u42 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:313px;
  top:604px;
  width:34px;
  height:34px;
  opacity:0.9;
  color:#0099FF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u44 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:322px;
  top:614px;
  width:17px;
  height:17px;
  color:#333333;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u46 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:357px;
  top:604px;
  width:34px;
  height:34px;
  opacity:0.9;
  color:#66CC33;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u48 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:366px;
  top:614px;
  width:16px;
  height:16px;
  color:#333333;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u50 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:401px;
  top:606px;
  width:34px;
  height:34px;
  opacity:0.9;
  color:#66CC33;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u52 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:410px;
  top:614px;
  width:16px;
  height:16px;
  color:#333333;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u54 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:313px;
  top:193px;
  width:122px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u56 {
  position:absolute;
  left:222px;
  top:532px;
  width:17px;
  height:33px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  color:#333333;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
}
#u57 {
  position:absolute;
  left:-7px;
  top:8px;
  width:31px;
  visibility:hidden;
  -webkit-transform:rotate(-315deg);
  -moz-transform:rotate(-315deg);
  -ms-transform:rotate(-315deg);
  transform:rotate(-315deg);
  word-wrap:break-word;
  transform-origin:15.5px 8.5px;
  -ms-transform-origin:15.5px 8.5px;
  -moz-transform-origin:15.5px 8.5px;
  -webkit-transform-origin:15.5px 8.5px;
}
#u58 {
  position:absolute;
  left:221px;
  top:546px;
  width:16px;
  height:12px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-size:9px;
  color:#FFFFFF;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:407px;
  top:532px;
  width:17px;
  height:33px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  color:#333333;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
}
#u61 {
  position:absolute;
  left:-7px;
  top:8px;
  width:31px;
  visibility:hidden;
  -webkit-transform:rotate(-315deg);
  -moz-transform:rotate(-315deg);
  -ms-transform:rotate(-315deg);
  transform:rotate(-315deg);
  word-wrap:break-word;
  transform-origin:15.5px 8.5px;
  -ms-transform-origin:15.5px 8.5px;
  -moz-transform-origin:15.5px 8.5px;
  -webkit-transform-origin:15.5px 8.5px;
}
#u62 {
  position:absolute;
  left:406px;
  top:546px;
  width:16px;
  height:12px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-size:9px;
  color:#FFFFFF;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:530px;
  top:50px;
  width:92px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:530px;
  top:348px;
  width:569px;
  height:32px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  height:32px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:528px;
  top:305px;
  width:309px;
  height:16px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:418px;
  top:308px;
  width:100px;
  height:10px;
}
#u70_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_end {
  position:absolute;
  left:83px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_line {
  position:absolute;
  left:0px;
  top:5px;
  width:100px;
  height:1px;
}
#u71 {
  position:absolute;
  left:530px;
  top:650px;
  width:307px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:48px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:1160px;
  top:658px;
  width:470px;
  height:192px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:192px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:530px;
  top:436px;
  width:500px;
  height:16px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:250px;
  top:349px;
  width:268px;
  height:10px;
}
#u77_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_end {
  position:absolute;
  left:251px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_line {
  position:absolute;
  left:0px;
  top:5px;
  width:268px;
  height:1px;
}
#u78 {
  position:absolute;
  left:74px;
  top:223px;
  width:10px;
  height:42px;
}
#u78_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u78_end {
  position:absolute;
  left:-5px;
  top:25px;
  width:20px;
  height:18px;
}
#u78_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:42px;
}
#u79 {
  position:absolute;
  left:80px;
  top:259px;
  width:440px;
  height:10px;
}
#u79_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_end {
  position:absolute;
  left:423px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_line {
  position:absolute;
  left:0px;
  top:5px;
  width:440px;
  height:1px;
}
#u80 {
  position:absolute;
  left:530px;
  top:256px;
  width:650px;
  height:16px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:530px;
  top:708px;
  width:616px;
  height:32px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:32px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:530px;
  top:750px;
  width:230px;
  height:112px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:112px;
}
#u85 {
  position:absolute;
  left:2px;
  top:48px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:554px;
  top:764px;
  width:183px;
  height:32px;
  text-align:center;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:32px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:596px;
  top:817px;
  width:100px;
  height:30px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u89 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:530px;
  top:204px;
  width:335px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:16px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:435px;
  top:207px;
  width:85px;
  height:10px;
}
#u92_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u92_end {
  position:absolute;
  left:68px;
  top:-5px;
  width:18px;
  height:20px;
}
#u92_line {
  position:absolute;
  left:0px;
  top:5px;
  width:85px;
  height:1px;
}
#u93 {
  position:absolute;
  left:530px;
  top:142px;
  width:331px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:32px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:435px;
  top:145px;
  width:85px;
  height:10px;
}
#u95_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_end {
  position:absolute;
  left:68px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_line {
  position:absolute;
  left:0px;
  top:5px;
  width:85px;
  height:1px;
}
#u96 {
  position:absolute;
  left:530px;
  top:916px;
  width:400px;
  height:780px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:780px;
}
#u97 {
  position:absolute;
  left:2px;
  top:382px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:531px;
  top:917px;
  width:398px;
  height:59px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:59px;
}
#u100 {
  position:absolute;
  left:2px;
  top:22px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:622px;
  top:969px;
  width:101px;
  height:10px;
}
#u101_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u101_end {
  position:absolute;
  left:84px;
  top:-5px;
  width:18px;
  height:20px;
}
#u101_line {
  position:absolute;
  left:0px;
  top:5px;
  width:101px;
  height:1px;
}
#u102 {
  position:absolute;
  left:686px;
  top:1226px;
  width:87px;
  height:16px;
  font-size:14px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:660px;
  top:1136px;
  width:140px;
  height:70px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:70px;
}
#u105 {
  position:absolute;
  left:2px;
  top:27px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:664px;
  top:1276px;
  width:131px;
  height:30px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u107 {
  position:absolute;
  left:2px;
  top:7px;
  width:127px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:678px;
  top:938px;
  width:22px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:758px;
  top:938px;
  width:64px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:31px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:638px;
  top:969px;
  width:101px;
  height:10px;
}
#u112_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u112_end {
  position:absolute;
  left:84px;
  top:-5px;
  width:18px;
  height:20px;
}
#u112_line {
  position:absolute;
  left:0px;
  top:4px;
  width:101px;
  height:3px;
}
#u113 {
  position:absolute;
  left:530px;
  top:890px;
  width:88px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:1102px;
  top:366px;
  width:12px;
  height:12px;
  color:#008000;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u116 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:531px;
  top:410px;
  width:140px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:540px;
  top:460px;
  width:157px;
  height:31px;
  color:#1E1E1E;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:31px;
}
#u120 {
  position:absolute;
  left:2px;
  top:8px;
  width:153px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:725px;
  top:460px;
  width:157px;
  height:31px;
  color:#1E1E1E;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:31px;
}
#u122 {
  position:absolute;
  left:2px;
  top:8px;
  width:153px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:682px;
  top:450px;
  width:17px;
  height:33px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  color:#333333;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
}
#u124 {
  position:absolute;
  left:-7px;
  top:8px;
  width:31px;
  visibility:hidden;
  -webkit-transform:rotate(-315deg);
  -moz-transform:rotate(-315deg);
  -ms-transform:rotate(-315deg);
  transform:rotate(-315deg);
  word-wrap:break-word;
  transform-origin:15.5px 8.5px;
  -ms-transform-origin:15.5px 8.5px;
  -moz-transform-origin:15.5px 8.5px;
  -webkit-transform-origin:15.5px 8.5px;
}
#u125 {
  position:absolute;
  left:681px;
  top:464px;
  width:16px;
  height:12px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-size:9px;
  color:#FFFFFF;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:867px;
  top:450px;
  width:17px;
  height:33px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  color:#333333;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
}
#u128 {
  position:absolute;
  left:-7px;
  top:8px;
  width:31px;
  visibility:hidden;
  -webkit-transform:rotate(-315deg);
  -moz-transform:rotate(-315deg);
  -ms-transform:rotate(-315deg);
  transform:rotate(-315deg);
  word-wrap:break-word;
  transform-origin:15.5px 8.5px;
  -ms-transform-origin:15.5px 8.5px;
  -moz-transform-origin:15.5px 8.5px;
  -webkit-transform-origin:15.5px 8.5px;
}
#u129 {
  position:absolute;
  left:866px;
  top:464px;
  width:16px;
  height:12px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-size:9px;
  color:#FFFFFF;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:530px;
  top:507px;
  width:500px;
  height:16px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:16px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:530px;
  top:576px;
  width:500px;
  height:16px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:16px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:540px;
  top:599px;
  width:154px;
  height:31px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:31px;
}
#u136 {
  position:absolute;
  left:2px;
  top:8px;
  width:150px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:830px;
  top:575px;
  width:500px;
  height:16px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:16px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:407px;
  top:70px;
  width:24px;
  height:24px;
  color:#333333;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u140 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:423px;
  top:66px;
  width:12px;
  height:12px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u142 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:415px;
  top:94px;
  width:10px;
  height:23px;
}
#u143_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u143_end {
  position:absolute;
  left:-5px;
  top:6px;
  width:20px;
  height:18px;
}
#u143_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:23px;
}
#u144 {
  position:absolute;
  left:419px;
  top:113px;
  width:101px;
  height:10px;
}
#u144_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u144_end {
  position:absolute;
  left:84px;
  top:-5px;
  width:18px;
  height:20px;
}
#u144_line {
  position:absolute;
  left:0px;
  top:5px;
  width:101px;
  height:1px;
}
#u145 {
  position:absolute;
  left:530px;
  top:91px;
  width:400px;
  height:32px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:32px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:540px;
  top:531px;
  width:157px;
  height:31px;
  color:#1E1E1E;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:31px;
}
#u148 {
  position:absolute;
  left:2px;
  top:8px;
  width:153px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:682px;
  top:521px;
  width:17px;
  height:33px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  color:#333333;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
}
#u150 {
  position:absolute;
  left:-7px;
  top:8px;
  width:31px;
  visibility:hidden;
  -webkit-transform:rotate(-315deg);
  -moz-transform:rotate(-315deg);
  -ms-transform:rotate(-315deg);
  transform:rotate(-315deg);
  word-wrap:break-word;
  transform-origin:15.5px 8.5px;
  -ms-transform-origin:15.5px 8.5px;
  -moz-transform-origin:15.5px 8.5px;
  -webkit-transform-origin:15.5px 8.5px;
}
#u151 {
  position:absolute;
  left:681px;
  top:535px;
  width:16px;
  height:12px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-size:9px;
  color:#FFFFFF;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u153 {
  position:absolute;
  left:845px;
  top:599px;
  width:157px;
  height:31px;
  color:#1E1E1E;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:31px;
}
#u154 {
  position:absolute;
  left:2px;
  top:8px;
  width:153px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:987px;
  top:589px;
  width:17px;
  height:33px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  color:#333333;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
}
#u156 {
  position:absolute;
  left:-7px;
  top:8px;
  width:31px;
  visibility:hidden;
  -webkit-transform:rotate(-315deg);
  -moz-transform:rotate(-315deg);
  -ms-transform:rotate(-315deg);
  transform:rotate(-315deg);
  word-wrap:break-word;
  transform-origin:15.5px 8.5px;
  -ms-transform-origin:15.5px 8.5px;
  -moz-transform-origin:15.5px 8.5px;
  -webkit-transform-origin:15.5px 8.5px;
}
#u157 {
  position:absolute;
  left:986px;
  top:603px;
  width:16px;
  height:12px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-size:9px;
  color:#FFFFFF;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u159 {
  position:absolute;
  left:1220px;
  top:107px;
  width:330px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:16px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:1220px;
  top:150px;
  width:300px;
  height:150px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
}
#u162 {
  position:absolute;
  left:2px;
  top:67px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:1295px;
  top:174px;
  width:151px;
  height:16px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u165 {
  position:absolute;
  left:1252px;
  top:201px;
  width:237px;
  height:30px;
  font-size:12px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:30px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:1220px;
  top:129px;
  width:400px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:16px;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:1380px;
  top:249px;
  width:111px;
  height:30px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u170 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:1250px;
  top:249px;
  width:111px;
  height:30px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u172 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:1240px;
  top:531px;
  width:200px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:1240px;
  top:557px;
  width:340px;
  height:80px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:80px;
}
#u176 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
