body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:594px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:400px;
  height:780px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:780px;
}
#u1 {
  position:absolute;
  left:2px;
  top:382px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:50px;
  width:400px;
  height:60px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:51px;
  top:60px;
  width:42px;
  height:42px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u5 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:222px;
  top:73px;
  width:55px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:200px;
  top:154px;
  width:100px;
  height:100px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u9 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:51px;
  top:316px;
  width:398px;
  height:46px;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:46px;
}
#u11 {
  position:absolute;
  left:2px;
  top:15px;
  width:394px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:50px;
  top:356px;
  width:398px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:381px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:398px;
  height:1px;
}
#u13 {
  position:absolute;
  left:51px;
  top:362px;
  width:398px;
  height:46px;
  text-align:left;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:46px;
}
#u14 {
  position:absolute;
  left:2px;
  top:15px;
  width:394px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:50px;
  top:310px;
  width:398px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:381px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:398px;
  height:1px;
}
#u16 {
  position:absolute;
  left:411px;
  top:322px;
  width:35px;
  height:35px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.6;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:411px;
  top:368px;
  width:35px;
  height:35px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.6;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u19 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:210px;
  top:270px;
  width:81px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:564px;
  top:331px;
  width:30px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:440px;
  top:340px;
  width:120px;
  height:0px;
}
#u24_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:134px;
  height:20px;
}
#u25 {
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:440px;
  top:390px;
  width:120px;
  height:0px;
}
#u26_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:134px;
  height:20px;
}
#u27 {
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:564px;
  top:381px;
  width:30px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
