body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1130px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:100px;
  top:30px;
  width:400px;
  height:780px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:780px;
}
#u2 {
  position:absolute;
  left:2px;
  top:382px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:100px;
  top:30px;
  width:400px;
  height:780px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:780px;
}
#u4 {
  position:absolute;
  left:2px;
  top:382px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:118px;
  top:780px;
  width:365px;
  height:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:270px;
  top:166px;
  width:57px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:50px;
}
#u8 {
  position:absolute;
  left:2px;
  top:17px;
  width:53px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:538px;
  top:30px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:551px;
  top:60px;
  width:579px;
  height:76px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:76px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:100px;
  top:669px;
  width:400px;
  height:139px;
  overflow:hidden;
  visibility:hidden;
}
#u13_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:139px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:396px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:47px;
  width:400px;
  height:50px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
}
#u17 {
  position:absolute;
  left:2px;
  top:17px;
  width:396px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:96px;
  width:400px;
  height:44px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:44px;
}
#u19 {
  position:absolute;
  left:2px;
  top:14px;
  width:396px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:580px;
  top:570px;
  width:99px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:593px;
  top:600px;
  width:509px;
  height:190px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:190px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:206px;
  top:350px;
  width:189px;
  height:35px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u25 {
  position:absolute;
  left:206px;
  top:400px;
  width:189px;
  height:35px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u26 {
  position:absolute;
  left:286px;
  top:478px;
  width:30px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:252px;
  top:226px;
  width:92px;
  height:22px;
  font-size:18px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:22px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:214px;
  top:358px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:214px;
  top:408px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:100px;
  top:716px;
  width:400px;
  height:94px;
  overflow:hidden;
  visibility:hidden;
}
#u34_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:94px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u34_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
}
#u36 {
  position:absolute;
  left:2px;
  top:17px;
  width:396px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:49px;
  width:400px;
  height:44px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:44px;
}
#u38 {
  position:absolute;
  left:2px;
  top:14px;
  width:396px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:580px;
  top:370px;
  width:400px;
  height:140px;
  overflow:hidden;
}
#u39_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:140px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u39_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
}
#u41 {
  position:absolute;
  left:2px;
  top:17px;
  width:396px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:0px;
  top:47px;
  width:400px;
  height:50px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
}
#u43 {
  position:absolute;
  left:2px;
  top:17px;
  width:396px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:0px;
  top:96px;
  width:400px;
  height:44px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:44px;
}
#u45 {
  position:absolute;
  left:2px;
  top:14px;
  width:396px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:100px;
  top:670px;
  width:400px;
  height:140px;
  overflow:hidden;
  visibility:hidden;
}
#u46_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:140px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u46_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
}
#u48 {
  position:absolute;
  left:2px;
  top:17px;
  width:396px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:47px;
  width:400px;
  height:50px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
}
#u50 {
  position:absolute;
  left:2px;
  top:17px;
  width:396px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:0px;
  top:96px;
  width:400px;
  height:44px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:44px;
}
#u52 {
  position:absolute;
  left:2px;
  top:14px;
  width:396px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:395px;
  top:462px;
  width:180px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:163px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:180px;
  height:1px;
}
#u54 {
  position:absolute;
  left:206px;
  top:449px;
  width:189px;
  height:35px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u55 {
  position:absolute;
  left:214px;
  top:457px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u56 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
