body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:400px;
  height:780px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:780px;
}
#u1 {
  position:absolute;
  left:2px;
  top:382px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:50px;
  width:400px;
  height:60px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:51px;
  top:60px;
  width:42px;
  height:42px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u5 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:224px;
  top:73px;
  width:52px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:214px;
  top:227px;
  width:44px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:124px;
  top:267px;
  width:50px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:4px;
  width:50px;
  height:3px;
}
#u11 {
  position:absolute;
  left:144px;
  top:267px;
  width:221px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:204px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:4px;
  width:221px;
  height:3px;
}
#u12 {
  position:absolute;
  left:264px;
  top:226px;
  width:22px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:120px;
  top:591px;
  width:181px;
  height:19px;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:19px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:92px;
  top:624px;
  width:329px;
  height:69px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:69px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:92px;
  top:590px;
  width:18px;
  height:21px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:21px;
}
#u19 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:50px;
  top:320px;
  width:399px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:382px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:399px;
  height:1px;
}
#u21 {
  position:absolute;
  left:120px;
  top:386px;
  width:239px;
  height:19px;
  font-size:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:19px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:92px;
  top:384px;
  width:18px;
  height:21px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:21px;
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:74px;
  top:264px;
  width:41px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:384px;
  top:264px;
  width:41px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:214px;
  top:135px;
  width:72px;
  height:72px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u30 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:176px;
  top:177px;
  width:32px;
  height:24px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:24px;
}
#u32 {
  position:absolute;
  left:2px;
  top:4px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:292px;
  top:177px;
  width:32px;
  height:24px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:24px;
}
#u34 {
  position:absolute;
  left:2px;
  top:4px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:197px;
  top:187px;
  width:106px;
  height:27px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:27px;
}
#u36 {
  position:absolute;
  left:2px;
  top:6px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:195px;
  top:177px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:14px;
  height:1px;
}
#u38 {
  position:absolute;
  left:290px;
  top:177px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:14px;
  height:1px;
}
#u39 {
  position:absolute;
  left:230px;
  top:192px;
  width:41px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:92px;
  top:424px;
  width:317px;
  height:112px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:112px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  word-wrap:break-word;
}
