body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1218px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:51px;
  top:50px;
  width:400px;
  height:780px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:780px;
}
#u1 {
  position:absolute;
  left:2px;
  top:382px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:51px;
  top:50px;
  width:400px;
  height:60px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:52px;
  top:60px;
  width:42px;
  height:42px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u5 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:178px;
  top:73px;
  width:145px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:72px;
  top:140px;
  width:98px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:72px;
  top:156px;
  width:358px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:341px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:358px;
  height:1px;
}
#u11 {
  position:absolute;
  left:72px;
  top:182px;
  width:98px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:72px;
  top:198px;
  width:358px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:341px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:358px;
  height:1px;
}
#u14 {
  position:absolute;
  left:150px;
  top:140px;
  width:154px;
  height:16px;
  color:#999999;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:461px;
  top:138px;
  width:82px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:65px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:82px;
  height:1px;
}
#u17 {
  position:absolute;
  left:557px;
  top:134px;
  width:661px;
  height:86px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:86px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:162px;
  top:290px;
  width:177px;
  height:30px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:173px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:150px;
  top:182px;
  width:154px;
  height:16px;
  color:#999999;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
