body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:830px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:410px;
  top:290px;
  width:100px;
  height:40px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:560px;
  top:188px;
  width:100px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:560px;
  top:400px;
  width:100px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:730px;
  top:158px;
  width:100px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:730px;
  top:218px;
  width:100px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:730px;
  top:340px;
  width:100px;
  height:40px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:730px;
  top:400px;
  width:100px;
  height:40px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:730px;
  top:280px;
  width:100px;
  height:40px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:730px;
  top:460px;
  width:100px;
  height:40px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:730px;
  top:520px;
  width:100px;
  height:40px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:660px;
  top:208px;
  width:70px;
  height:-30px;
}
#u20_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:24px;
  height:20px;
}
#u20_seg1 {
  position:absolute;
  left:0px;
  top:-40px;
  width:20px;
  height:50px;
}
#u20_seg2 {
  position:absolute;
  left:0px;
  top:-40px;
  width:74px;
  height:20px;
}
#u21 {
  position:absolute;
  left:-30px;
  top:-38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:660px;
  top:420px;
  width:70px;
  height:-120px;
}
#u22_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:24px;
  height:20px;
}
#u22_seg1 {
  position:absolute;
  left:0px;
  top:-130px;
  width:20px;
  height:140px;
}
#u22_seg2 {
  position:absolute;
  left:0px;
  top:-130px;
  width:74px;
  height:20px;
}
#u23 {
  position:absolute;
  left:-40px;
  top:-93px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:660px;
  top:420px;
  width:70px;
  height:0px;
}
#u24_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:84px;
  height:20px;
}
#u25 {
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:660px;
  top:420px;
  width:70px;
  height:60px;
}
#u26_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:24px;
  height:20px;
}
#u26_seg1 {
  position:absolute;
  left:0px;
  top:-10px;
  width:20px;
  height:80px;
}
#u26_seg2 {
  position:absolute;
  left:0px;
  top:50px;
  width:74px;
  height:20px;
}
#u27 {
  position:absolute;
  left:-40px;
  top:47px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:660px;
  top:420px;
  width:70px;
  height:120px;
}
#u28_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:24px;
  height:20px;
}
#u28_seg1 {
  position:absolute;
  left:0px;
  top:-10px;
  width:20px;
  height:140px;
}
#u28_seg2 {
  position:absolute;
  left:0px;
  top:110px;
  width:74px;
  height:20px;
}
#u29 {
  position:absolute;
  left:-40px;
  top:77px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:560px;
  top:208px;
  width:-50px;
  height:102px;
}
#u30_seg0 {
  position:absolute;
  left:-50px;
  top:-10px;
  width:54px;
  height:20px;
}
#u30_seg1 {
  position:absolute;
  left:-50px;
  top:-10px;
  width:20px;
  height:122px;
}
#u30_seg2 {
  position:absolute;
  left:-54px;
  top:92px;
  width:24px;
  height:20px;
}
#u31 {
  position:absolute;
  left:-90px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:560px;
  top:420px;
  width:-50px;
  height:-110px;
}
#u32_seg0 {
  position:absolute;
  left:-50px;
  top:-10px;
  width:54px;
  height:20px;
}
#u32_seg1 {
  position:absolute;
  left:-50px;
  top:-120px;
  width:20px;
  height:130px;
}
#u32_seg2 {
  position:absolute;
  left:-54px;
  top:-120px;
  width:24px;
  height:20px;
}
#u33 {
  position:absolute;
  left:-90px;
  top:-48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:660px;
  top:420px;
  width:70px;
  height:-60px;
}
#u34_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:24px;
  height:20px;
}
#u34_seg1 {
  position:absolute;
  left:0px;
  top:-70px;
  width:20px;
  height:80px;
}
#u34_seg2 {
  position:absolute;
  left:0px;
  top:-70px;
  width:74px;
  height:20px;
}
#u35 {
  position:absolute;
  left:-40px;
  top:-63px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:730px;
  top:238px;
  width:-70px;
  height:-30px;
}
#u36_seg0 {
  position:absolute;
  left:-70px;
  top:-10px;
  width:74px;
  height:20px;
}
#u36_seg1 {
  position:absolute;
  left:-70px;
  top:-40px;
  width:20px;
  height:50px;
}
#u36_seg2 {
  position:absolute;
  left:-74px;
  top:-40px;
  width:24px;
  height:20px;
}
#u37 {
  position:absolute;
  left:-100px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
